<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhxP-Q6fFsNzSQ6LeU3Hnm5THl34SmWPw</string>
	<key>GCM_SENDER_ID</key>
	<string>616791980010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olmezsesmustafa.ChatsApp</string>
	<key>PROJECT_ID</key>
	<string>chatsapp-f1cc4</string>
	<key>STORAGE_BUCKET</key>
	<string>chatsapp-f1cc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616791980010:ios:0df7628bf99c4765366493</string>
</dict>
</plist>